### 1 -  Utilizando comandos SQL, apresente a instrução que resolva os seguintes problemas propostos:
Para resolução das questões, considere o seguinte esquema:

Funcionarios (Codigo, PrimeiroNome,
SegundoNome, UltimoNome,
DataNasci, CPF, RG, Endereco, CEP,
Cidade, Fone, CodigoDepartamento,
Funcao, Salario)

Departamentos (Codigo, Nome,
Localizacao,
CodigoFuncionarioGerente)

Obs: Crie ao menos 10 registros para a tabela Funcionários e ao menos 5 registros para tabela Departamentos.

    A) Listar nome e sobrenome ordenado por sobrenome
    B) Listar todos os campos de funcionários ordenados por cidade
    C) Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo
    D) Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho
    E) Liste o total da folha de pagamento
    F) Liste o nome, o nome do departamento e a função de todos os funcionários
    G) Liste a quantidade de funcionários desta empresa
    H) Liste o nome do departamento e do funcionário ordenados por departamento e funcionário

In [6]:
# Criar/Conectar Banco de Dados
import sqlite3

banco=sqlite3.connect('BancoDados.db')
cursor=banco.cursor()

In [32]:
# Criar Tabelas

cursor.execute("CREATE TABLE Funcionarios (Codigo INT PRIMARY KEY, PrimeiroNome TEXT, SegundoNome TEXT, UltimoNome TEXT, DataNasci DATE, CPF VARCHAR(11), RG TEXT, Endereco TEXT, CEP VARCHAR(9), Cidade TEXT, Fone TEXT, CodigoDepartamento INT, Funcao TEXT, Salario FLOAT)")
cursor.execute("CREATE TABLE Departamentos (Codigo integer PRIMARY KEY, Nome text, Localizacao text, CodigoFuncionarioGerente integer)")

In [30]:
# Deletar Tabela

cursor.execute("DROP TABLE Funcionarios")

In [33]:
# Inserindo Dados em Funcionarios

lista1=[
    ('1','Pietruss','Rodrigues','Guima','2000-01-20','','','','','Macae','','1','Gerente','500'),
    ('2','Andre','Geovani','Fayan','1993-02-25','','','','','Cabo Frio','','5','Cordenador','1000'),
    ('3','Mozart','Leandro','Rodrigues','1980-03-01','','','','','Rio de Janeiro','','2','Engenheiro','1500'),
    ('4','Gabriel','Alves','Valdones','1988-04-10','','','','','Campos','','4','Medico','800'),
    ('5','Alvaro','Pereira','Sena','1980-05-15','','','','','Sao Paulo','','3','Montador','2000'),
    ('6','Lucio','Adao','Lorca','1996-06-07','','','','','Vitoria','','3','CEO','1800'),
    ('7','Diego','Cassia','Dantas','1987-07-08','','','','','Curitiba','','5','Assistente','600'),
    ('8','Elton','Silva','Pereira','1990-08-22','','','','','Fortaleza','','1','Auxiliar','1200'),
    ('9','Heitor','Pietro','Silva','1991-09-17','','','','','Niteroi','','2','Contratador','1600'),
    ('10','Valdones','Luan','Machado','1993-10-13','','','','','Belem','','4','Servicos Gerais','900')
]

cursor.executemany("INSERT INTO funcionarios VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)", lista1)
banco.commit()

In [22]:
# Inserindo Dados em Departamentos

lista2=[
    ('1','Financeiro','Sao Paulo','1'),
    ('2','Administrativo','Rio de Janeiro','2'),
    ('3','RH','Rio de Janeiro','2'),
    ('4','Marketing','Sao Paulo','1'),
    ('5','Producao','Macae','3')
]

cursor.executemany("INSERT INTO departamentos VALUES (?,?,?,?)", lista2)
banco.commit()

In [24]:
# A) Listar nome e sobrenome ordenado por sobrenome

cursor.execute("SELECT PrimeiroNome, UltimoNome FROM funcionarios ORDER BY UltimoNome ASC")
print(cursor.fetchall())

[('Diego', 'Dantas'), ('Andre', 'Fayan'), ('Pietruss', 'Guima'), ('Lucio', 'Lorca'), ('Valdones', 'Machado'), ('Elton', 'Pereira'), ('Mozart', 'Rodrigues'), ('Alvaro', 'Sena'), ('Heitor', 'Silva'), ('Gabriel', 'Valdones')]

In [40]:
# B) Listar todos os campos de funcionários ordenados por cidade

cursor.execute("SELECT * FROM funcionarios ORDER BY cidade ASC")
print(cursor.fetchall())

[(10, 'Valdones', 'Luan', 'Machado', '1993-10-13', '', '', '', '', 'Belem', '', 4, 'Servicos Gerais', 900.0), (2, 'Andre', 'Geovani', 'Fayan', '1993-02-25', '', '', '', '', 'Cabo Frio', '', 5, 'Cordenador', 1000.0), (4, 'Gabriel', 'Alves', 'Valdones', '1988-04-10', '', '', '', '', 'Campos', '', 4, 'Medico', 800.0), (7, 'Diego', 'Cassia', 'Dantas', '1987-07-08', '', '', '', '', 'Curitiba', '', 5, 'Assistente', 600.0), (8, 'Elton', 'Silva', 'Pereira', '1990-08-22', '', '', '', '', 'Fortaleza', '', 1, 'Auxiliar', 1200.0), (1, 'Pietruss', 'Rodrigues', 'Guima', '2000-01-20', '', '', '', '', 'Macae', '', 1, 'Gerente', 500.0), (9, 'Heitor', 'Pietro', 'Silva', '1991-09-17', '', '', '', '', 'Niteroi', '', 2, 'Contratador', 1600.0), (3, 'Mozart', 'Leandro', 'Rodrigues', '1980-03-01', '', '', '', '', 'Rio de Janeiro', '', 2, 'Engenheiro', 1500.0), (5, 'Alvaro', 'Pereira', 'Sena', '1980-05-15', '', '', '', '', 'Sao Paulo', '', 3, 'Montador', 2000.0), (6, 'Lucio', 'Adao', 'Lorca', '1996-06-07', '', '', '', '', 'Vitoria', '', 3, 'CEO', 1800.0)]

In [26]:
# C) Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo

cursor.execute("SELECT PrimeiroNome,SegundoNome,UltimoNome FROM funcionarios WHERE salario>1000 ORDER BY PrimeiroNome ASC")
print(cursor.fetchall())

[('Alvaro', 'Pereira', 'Sena'), ('Elton', 'Silva', 'Pereira'), ('Heitor', 'Pietro', 'Silva'), ('Lucio', 'Adao', 'Lorca'), ('Mozart', 'Leandro', 'Rodrigues')]

In [28]:
# D) Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho

cursor.execute("SELECT DataNasci,PrimeiroNome FROM funcionarios ORDER BY DataNasci DESC")
print(cursor.fetchall())

[('2000-01-20', 'Pietruss'), ('1996-06-07', 'Lucio'), ('1993-10-13', 'Valdones'), ('1993-02-25', 'Andre'), ('1991-09-17', 'Heitor'), ('1990-08-22', 'Elton'), ('1988-04-10', 'Gabriel'), ('1987-07-08', 'Diego'), ('1980-05-15', 'Alvaro'), ('1980-03-01', 'Mozart')]

In [29]:
# E) Liste o total da folha de pagamento

cursor.execute("SELECT SUM(salario) FROM funcionarios")
print(cursor.fetchall())

[(11900.0,)]

In [39]:
# F) Liste o nome, o nome do departamento e a função de todos os funcionários

cursor.execute("""SELECT Funcionarios.PrimeiroNome,Departamentos.Nome,Funcionarios.Funcao FROM Departamentos 
               JOIN Funcionarios ON Funcionarios.CodigoDepartamento=Departamentos.Codigo""")
print(cursor.fetchall())

[('Pietruss', 'Financeiro', 'Gerente'), ('Andre', 'Producao', 'Cordenador'), ('Mozart', 'Administrativo', 'Engenheiro'), ('Gabriel', 'Marketing', 'Medico'), ('Alvaro', 'RH', 'Montador'), ('Lucio', 'RH', 'CEO'), ('Diego', 'Producao', 'Assistente'), ('Elton', 'Financeiro', 'Auxiliar'), ('Heitor', 'Administrativo', 'Contratador'), ('Valdones', 'Marketing', 'Servicos Gerais')]

In [41]:
# G) Liste a quantidade de funcionários desta empresa

cursor.execute("SELECT COUNT() FROM Funcionarios")
print(cursor.fetchall())

[(10,)]

In [47]:
# H) Liste o nome do departamento e do funcionário ordenados por departamento e funcionário

cursor.execute("""SELECT Departamentos.Nome,Funcionarios.PrimeiroNome 
               FROM Funcionarios JOIN Departamentos 
               ON Departamentos.Codigo=Funcionarios.CodigoDepartamento
               ORDER BY Departamentos.Nome""")
print(cursor.fetchall())

[('Administrativo', 'Mozart'), ('Administrativo', 'Heitor'), ('Financeiro', 'Pietruss'), ('Financeiro', 'Elton'), ('Marketing', 'Gabriel'), ('Marketing', 'Valdones'), ('Producao', 'Andre'), ('Producao', 'Diego'), ('RH', 'Alvaro'), ('RH', 'Lucio')]

In [48]:
cursor.execute("""SELECT Departamentos.Nome,Funcionarios.PrimeiroNome 
               FROM Funcionarios JOIN Departamentos 
               ON Departamentos.Codigo=Funcionarios.CodigoDepartamento
               ORDER BY Funcionarios.PrimeiroNome""")
print(cursor.fetchall())

[('RH', 'Alvaro'), ('Producao', 'Andre'), ('Producao', 'Diego'), ('Financeiro', 'Elton'), ('Marketing', 'Gabriel'), ('Administrativo', 'Heitor'), ('RH', 'Lucio'), ('Administrativo', 'Mozart'), ('Financeiro', 'Pietruss'), ('Marketing', 'Valdones')]